body {
    margin: 0;
    line-height: normal;
    }
    .main-container{
        display: flex;
    }

.layer-1-icons {
    width: 47px;
    position: relative;
    height: 35px;
    overflow: hidden;
    flex-shrink: 0;
}
.layer-1-wrappers {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0px 10px;
}
.iconss {
    display: inline;
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.dashboards {
    color: #2C2C2C;
    position: relative;
    line-height: 150%;
}
.selected-icon {
    display: none;
  }
  
  .main-navs.selected .iconss,
  .main-nav1s.selected .iconss {
    display: none;
  }
  
  .main-navs.selected .selected-icon,
  .main-nav1s.selected .selected-icon {
    display: inline;
  }
.main-navs {
    align-self: stretch;
    border-radius: 8px;
    background-color: #eff0f2;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 12px;
    gap: 8px;
}
.capabilities-wrappers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.main-nav1s {
    align-self: stretch;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 12px;
    gap: 8px;
}
.main-nav-parents {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.efficiency-plan {
    margin: 0;
}
.efficiency-plan-project-container {
    flex: 1;
    position: relative;
    line-height: 150%;
}
.efficiency-plan-project-id-aq-wrapper {
    width: 159px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 0px;
    box-sizing: border-box;
}
.main-nav-childs {
    align-self: stretch;
    position: relative;
    border-top: 1px dashed #dddee5;
    box-sizing: border-box;
    height: 1px;
}
.frame-childs {
    width: 12px;
    position: relative;
    height: 12px;
}
.change-projects {
    position: relative;
    line-height: 120%;
    font-weight: 500;
}
.frame-containers {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 0px;
    gap: 8px;
    font-size: 10px;
}
.main-nav5s {
    margin-top: auto;
    align-self: stretch;
    border-radius: 10px;
    background: linear-gradient(180deg, #f9fcff, #f5f7f9);
    border: 1px solid #dddee5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 12px;
    gap: 10px;
    font-size: 12px;
}
.frame-groups {
    align-self: stretch;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.frame-parents {
    width: 250px; /* Adjust as needed */
    position: relative;
    background-color: #fff;
    border-right: 1px solid #dddee5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    height: 100vh;
}
.assessment {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 120%;
    font-weight: 500;
}
.assessment-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icons {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.header-nav2-child {
    width: 1px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 16px;
    object-fit: contain;
}
.user-icon {
    width: 20.4px;
    position: relative;
    height: 20.4px;
    overflow: hidden;
    flex-shrink: 0;
}
.user-wrapper {
    width: 32px;
    border-radius: 48px;
    background-color: #5a5f62;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.farhan-nadeem {
    position: relative;
    letter-spacing: 0.02em;
}
.traxccel {
    position: relative;
    letter-spacing: 0.02em;
    color: #5a5f62;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.farhan-nadeem-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.frame-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}
.header-nav2-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.header-nav2 {
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}
.header-nav2-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
    font-family: 'SF Pro Display';
}
.frame-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 0px;
}
.your-project {
    position: relative;
    font-weight: 600;
}
.frame-child {
    align-self: stretch;
    position: relative;
    border-top: 1px solid #dddee5;
    box-sizing: border-box;
    height: 1px;
}
.your-project-parent {
    width: 1017px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    z-index: 0;
}
.icons2 {
    width: 18px;
    position: relative;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}
.sub-capability-assessment-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.define-your-current {
    position: relative;
    font-size: 12px;
    color: #474e51;
}
.next {
    position: relative;
    line-height: 120%;
    font-weight: 500;
}
#nextLink.disabled {
    opacity: 0.4;
    pointer-events: none;
}
#nextLink.enabled {
    opacity: 1;
    pointer-events: auto;
}
.frame-item {
    width: 17px;
    position: relative;
    height: 17px;
}
.next-parent {
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 18px;
    gap: 16px;
    opacity: 0.4;
    color: #474e51;
}
.frame-parent2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 18px;
}
.strategic-management {
    align-self: stretch;
    position: relative;
    font-weight: 600;
    display: inline-block;
    height: 21px;
    flex-shrink: 0;
}
.strategic-management-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-wrapper3 {
    border-radius: 8px;
    height: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px;
    box-sizing: border-box;
}
.frame-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.frame-parent6 {
    width: 300px;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 24px;
    transition: height 0.3s ease; /* Smooth height transition */
    overflow: hidden; /* Prevents dropdown from showing outside */
}
.frame-parent7 {
    width: 300px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px dashed #dddee5;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}
.resolved {
    position: relative;
    line-height: 120%;
    background: linear-gradient(#000419, #000419), #5a5f62;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.resolved-parent {
    width: 120px;
    border-radius: 8px;
    height: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    box-sizing: border-box;
}
.frame-wrapper6 {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 12px;
}
.frame-parent5 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}
.vector-icon {
    width: 100%;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.describe-the-current {
    align-self: stretch;
    position: relative;
    font-size: 12px;
    letter-spacing: 0.01em;
    line-height: 128%;
    color: #5a5f62;
}
.current-state-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.checkbox-input {
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.real-checkbox{
    width: 16px;
    position: relative;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    height: 16px;
}
.aware {
    width: 341px;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 128%;
    display: inline-block;
    flex-shrink: 0;
}
.checkbox-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.frame-parent12 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    font-size: 12px;
    color: #5a5f62;
}
.frame-wrapper14 {
    align-self: stretch;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #dddee5;
    box-sizing: border-box;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 8px;
}
.frame-wrapper13 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #bcbcbc;
}
.frame-parent11 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.frame-child5 {
    align-self: stretch;
    width: 1px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.frame-parent10 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.vector-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 14px;
}
.frame-child6 {
    width: 12px;
    position: relative;
    height: 12px;
    object-fit: contain;
}
.frame-parent16 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    opacity: 0.4;
}
.frame-child7 {
    width: 12px;
    position: relative;
    height: 12px;
}
.next-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.frame-parent15 {
    align-self: stretch;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
    font-size: 12px;
    color: #5a5f62;
}
.sub-capability-dataai-vision-parent {
    align-self: stretch;
    box-shadow: 0px 8px 20px rgba(92, 156, 212, 0.1);
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #dddee5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 24px;
    gap: 24px;
}
.frame-wrapper12 {
    flex: 1;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
} 
.frame-parent4 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 36px;
    font-size: 14px;
}
.frame-parent1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 18px;
    z-index: 1;
    font-size: 16px;
}
.tooltip {
    width: 255px;
    margin: 0 !important;
    position: absolute;
    top: -18px;
    left: 188px;
    height: 48.3px;
    display: none;
    z-index: 2;
}
.frame-div {
    align-self: stretch;
    flex: 1;
    box-shadow: 0px 8px 20px rgba(92, 156, 212, 0.1);
    border-radius: 12px 12px 0px 0px;
    background-color: #fff;
    border-top: 1px solid #dddee5;
    border-right: 1px solid #dddee5;
    border-left: 1px solid #dddee5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 24px 0px;
    position: relative;
    gap: 24px;
}
.frame-wrapper {
    align-self: stretch;
    height: 641px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 24px 0px;
    box-sizing: border-box;
    font-size: 18px;
}
.frame-parent {
    background: linear-gradient(90deg, rgba(254, 98, 96, 0.00) 0%, rgba(254, 98, 96, 0.20) 124.52%), linear-gradient(180deg, #F9FCFF 0%, #F5F7F9 100%);
    box-shadow: 0px 5px 12px 2px rgba(92, 156, 212, 0.10);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 24px;
    color: #000419;
    font-family: Poppins;
}
.notification-container {
    display: none; /* Hidden by default */
    position: absolute;
    top: 50px; /* Adjust based on the bell icon's position */
    right: 10px; /* Adjust for alignment */
    background-color: #ffffff;
    border: 1px solid #dddee5;
    box-shadow: 0px 8px 20px rgba(92, 156, 212, 0.1);
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    z-index: 1000;
}

.notification-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #777777;
    text-align: center;
    margin: 0;
}
/* Parent container for dropdown */
/* Parent container for dropdown */
.dropdown-wrapper {
    position: relative; /* Ensures dropdown menu is positioned relative to this container */
}

/* Dropdown menu */
.dropdown-menu {
    display: none; /* Initially hidden */
    margin-top: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: left;
    z-index: 1000; /* Ensure it stays above other content */
    position: absolute; /* Stay within the dashed box */
    width: calc(100% - 20px); /* Adjust based on dashed box padding */
}

/* Dropdown icon */
.dropdown-icon {
    margin-top: -20px;
    cursor: pointer;
}
a{
    display: flex;
}
.sub-capability-header {
    display: flex;
    justify-content: space-between; /* Pushes the button to the right */
    align-items: center; /* Ensures vertical alignment */
    width: 100%; /* Ensures the row spans the full width */
    margin-bottom: 16px; /* Optional spacing below */
}

.save-progress-button {
    background-color: #007bff; /* Example button color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif; /* Matches the font style */
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px; /* Space between the text and icon */
}

.save-progress-button img {
    height: 16px;
    width: 16px;
}

.save-progress-button:hover {
    background-color: #0056b3; /* Slightly darker shade on hover */
}
a{
    text-decoration: none;
}  
.custom-textarea {
    width: 100%; /* Matches the full width of the parent div */
    height: 110px; /* Matches the height defined in frame-wrapper14 */
    border: 1px solid #dddee5; /* Matches the border style of frame-wrapper14 */
    border-radius: 8px; /* Matches the border-radius of frame-wrapper14 */
    padding: 6px; /* Ensures consistent padding */
    font-size: 14px; /* Use font-size consistent with other elements */
    font-family: 'Poppins', sans-serif; /* Matches the existing font family */
    color: #5a5f62; /* Text color */
    box-sizing: border-box; /* Ensures padding does not increase dimensions */
    resize: none; /* Prevents resizing of the text area */
}